# build output
dist/

# generated types


# dependencies
node_modules/
google93b52e8dd9e36687.html
# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# environment variables
.env
.env.production

# macOS-specific files
.DS_Store

# jetbrains setting folder
.idea/
public/api/secure_secrets.php
