@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-primary: #363537;      /* blue-900 */
  --color-accent: #00f19f;       /* yellow-400 */
  --color-accent-hover: #00f19f; /* yellow-300 */
  --color-bg: #fff;
  --color-text: #cccccc;         /* slate-800 */
  --color-card: #cee1da;
  --color-primaryC: #04b477;
  --color-subtext: #1f1f1f;         /* gray-100 */
}

.dark {
  --color-primary: #0f172a;      /* darker blue/gray */
  --color-accent: #fbbf24;       /* darker yellow */
  --color-accent-hover: #f59e42; /* orange/yellow */
  --color-bg: #18181b;
  --color-text: #f3f4f6;
  --color-card: #27272a;
   --color-primaryC: #cdcdcd;
    --color-subtext: #8e8d8d; 
}

/* Prevent horizontal scrolling on small devices */
html, body { overflow-x: hidden; }

@keyframes fade-scale {
  0% {
    opacity: 0;
    transform: scale(0.98);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

::view-transition-old(root),
::view-transition-new(root) {
  animation: fade-scale 2s ease-in-out both;
}


