---
import ChatBot from '../components/ChatBot';
import Footer from '../components/Footer.astro';
import Navbar from '../components/Navbar.astro';
import Layout from '../layouts/Layout.astro';
import '../styles/global.css';
---


 <Layout>
    <Navbar/>
    <ChatBot client:visible />
  <h1 class="font-bold text-blue-500 ">this is muneer blog section</h1>

  <p class="text-green-700">
    this was the blog section of the website. Here you can find various articles and posts related to different topics.
  </p>
  <Footer/>
</Layout>