---
import Welcome from '../components/Welcome.astro';
import Layout from '../layouts/Layout.astro';
import '../styles/global.css';
import FeatureSection from '../components/FeatureSection.astro';
import FeatureListSection from '../components/FeatureListSection.astro';
import ServicesSection from '../components/ServicesSection.astro';
import FAQsection from '../components/FAQsection.astro';
import TestimonialSection from '../components/TestimonialSection.jsx';
import CTAsection from '../components/CTAsection.astro';
import NesLSection from '../components/NesLSection.astro';
import ProjectShowcase from '../components/ProjectShowcase';


---

<Layout>
	
	<Welcome />
	<FeatureSection/>
	<ServicesSection/>
	<FeatureListSection/>
	<div class="grid gap-8 md:grid-cols-2">
  <ProjectShowcase />
  <ProjectShowcase />
</div>
	<TestimonialSection client:visible/>
	<FAQsection/>
	<NesLSection/>
	<CTAsection/>

</Layout>
	
<style>

</style>
