---
import Layout from '../layouts/Layout.astro';
import '../styles/global.css';
import Navbar from './Navbar';
---


<section class="bg-black py-10 bg-">
    <div class="max-w-5xl mx-auto px-4">
        <h2 class="text-3xl font-bold text-white text-center mb-8">Call to Action</h2>
        <p class="text-lg text-center mb-6 text-gray-400">
        Ready to take your business to the next level? Contact us today for a free consultation!
        </p>
        <div class="flex justify-center">
        <a href="/contact" class="bg-blue-600 text-white px-6 py-3 rounded hover:bg-blue-700 transition">
            Get Started
        </a>
        </div>
    </div>  
</section>
