<section class="py-20 px-4 bg-gradient-to-r from-black to-gray-900 text-white">
  <div class="max-w-6xl mx-auto flex flex-col md:flex-row items-center justify-between gap-12">
    
    <!-- Left Text Content -->
    <div class="max-w-xl">
      <h2 class="text-4xl font-bold leading-tight text-green-300">
        Join our newsletter <br /> & stay updated.
      </h2>
      <p class="mt-4 text-[var(--color-text-light)]">
         Get the latest content in your inbox every week. We don’t spam.
      </p>
    </div>

    <!-- Right Form -->
    <div class="bg-black p-6 rounded-lg gap-6 w-full max-w-md shadow-md py-[10vh] ">
      <form class="flex flex-col gap-4">
        <input
          type="email"
          placeholder="Enter Your Email address"
          required
          class="w-full px-4 py-2 rounded-full border border-gray-700 bg-transparent text-white focus:outline-none focus:ring-2 focus:ring-[var(--color-accent)]"
        />
        <button
          type="submit"
          class="w-full py-4 my-4 px-4 hero-button rounded-full  bg-black/80 backdrop-blur-sm shadow-md transition-all hover:text-black ease-in-out duration-300 overflow-hidden text-white font-medium hover:bg-[var(--color-accent-hover)] "
        >
          Subscribe Now
        </button>
     
      </form>
    </div>
  </div>
</section>
<style>
  .hero-button{
    box-shadow: 0 2px 15px rgb(99, 253, 189);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
  }
</style> 