---
import ProjectShowcase from '../components/ProjectShowcase.astro';
import projects from '../data/ProjectShowcase.js';
---

<section class="bg-black py-20 text-white">
  <div class="max-w-5xl w-full mx-auto px-4">
    <div class="flex flex-col md:flex-row md:items-center md:justify-between gap-4">
      <h2 class="text-3xl md:text-4xl font-bold text-green-300 my-4 md:my-10">Our Recent Work</h2>
    </div>

    <div class="grid grid-cols-1 gap-6 md:grid-cols-2">
      {
        projects.map(project => (
          <div>
            <a href={`/projects/${project.slug}`}>
              <ProjectShowcase {...project} />
            </a>
          </div>
        ))
      }
    </div>
  </div>
</section>

<style>
  .hero-button {
    box-shadow: 0 2px 20px rgb(99, 253, 189);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
  }
</style>
