---
import '../styles/global.css'
import Navbar from './Navbar.astro'
---

<div id="container">
	<Navbar/>
	  <div id="welcome">
	
	<h1 class="text-yellow-400">Welcome to Astro!</h1>
	<p>
	  This is a starter template for building fast, modern websites with Astro.
	  Explore the code, customize it, and start building your next project!
	</p>
  </div>
</div>
	

<style>

</style>
