---
import ChatBot from "../components/ChatBot";
import Footer from "../components/Footer.astro";
import Navbar from "../components/Navbar";
import '../styles/global.css';
---

<!doctype html>
<html lang="en" view-transition>
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover" />
		<link rel="icon" type="image/svg+xml" href="/images/hfd-logo.png" />
		<meta name="generator" content={Astro.generator} />
		<title></title>
	</head>
	<body class="pt-20 md:pt-0">
		<Navbar client:only="react"/>
		<slot />
		<ChatBot client:load />
		<Footer />
	</body>
</html>